<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sflc.websocket.mapper.UserMapper">
    <resultMap type="com.sflc.websocket.model.User" id="userMap">
        <id property="uid" column="id"></id>
        <result property="code" column="code"/>
        <result property="pwd_src" column="pwd_src"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="person_type" column="person_type"/>
        <result property="area" column="area"/>
    </resultMap>
    <select id="getUserByCode" parameterType="String" resultMap="userMap">
    	select id,code,pwd_src,name,password,mobile,email,person_type,area from secu_user where code = #{code}
    </select>
    <select id="getUserById" parameterType="String" resultMap="userMap">
    	select id,code,pwd_src,name,password,mobile,email,person_type,area from secu_user where id = #{id}
    </select>

</mapper>