<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sflc.websocket.mapper.UserMapper">
    <resultMap type="com.sflc.websocket.model.User" id="userMap">
        <id property="uid" column="id"></id>
        <result property="code" column="code"/>
        <result property="pwd_src" column="pwd_src"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="person_type" column="person_type"/>
        <result property="area" column="area"/>
    </resultMap>

    <select id="getUserByCode" parameterType="String" resultMap="userMap">
    	SELECT ID, CODE, PWD_SRC, NAME, PASSWORD, MOBILE, EMAIL, PERSON_TYPE, AREA
    	  FROM SECU_USER
    	  WHERE CODE = #{code}
    </select>

    <select id="getUserById" parameterType="String" resultMap="userMap">
    	SELECT ID, CODE, PWD_SRC, NAME, PASSWORD, MOBILE, EMAIL, PERSON_TYPE, AREA
    	  FROM SECU_USER
    	  WHERE ID = #{id}
    </select>

    <select id="getAllUserCode" resultType="String">
    	SELECT CODE
    	  FROM SECU_USER T
    	  WHERE T.EMPLOYEE_TYPE != 6 AND T.CODE IS NOT NULL
    </select>

</mapper>